{{!< layout}}
<script src="{{furl '/js/moment.js'}}"></script>
<script src="{{furl '/js/moment-timezone-with-data.js'}}"></script>
<script id="connect-loader" data-options="sizeToParent:true;">
      setData();
      //drawExampleChart();
</script>

<div class="chart-container"></div>
