/* add-on styles */
.bar {
  fill: #14892c;
}

.axis text {
  font-size: 12px;
  font-weight: 400;
  fill:#545454;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #545454;
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.axisLabel {
    text-anchor: middle;
    fill:#545454;
    font-size: 12px;
    font-weight: 700;
    shape-rendering: crispEdges;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
    text-transform: uppercase;
}

.chart {
  width:50%;
  height:50%;
}
